In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [22]:
train_data.shape

(9557, 143)

In [23]:
test_data.shape

(23856, 142)

In [24]:
np.unique(train_data['edjefe'])

array(['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2',
       '20', '21', '3', '4', '5', '6', '7', '8', '9', 'no', 'yes'], dtype=object)

In [25]:
np.unique(train_data['SQBedjefe'])

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144,
       169, 196, 225, 256, 289, 324, 361, 400, 441], dtype=int64)

In [36]:
train_data[(train_data['edjefe'] == 'no') & (train_data['edjefa'] == 'yes')][['escolari', 'edjefe', 'edjefa', 'SQBedjefe', 'parentesco1', 'idhogar']]

      escolari edjefe edjefa  SQBedjefe  parentesco1    idhogar
432          1     no    yes          0            1  39f697073
566          0     no    yes          0            0  5f1665f1d
567          6     no    yes          0            0  5f1665f1d
568          1     no    yes          0            1  5f1665f1d
569          7     no    yes          0            0  5f1665f1d
594          1     no    yes          0            0  10949c36b
595          1     no    yes          0            1  10949c36b
974         10     no    yes          0            0  4ec0576ea
975          9     no    yes          0            0  4ec0576ea
976          1     no    yes          0            1  4ec0576ea
977          6     no    yes          0            0  4ec0576ea
1573         7     no    yes          0            0  fc8ad2380
1574         1     no    yes          0            1  fc8ad2380
1575         9     no    yes          0            0  fc8ad2380
2464         1     no    yes          0            1  8dcbd672c
2465         6     no    yes          0            0  8dcbd672c
2466         2     no    yes          0            0  8dcbd672c
2610         6     no    yes          0            0  0c1ad9841
2611         0     no    yes          0            0  0c1ad9841
2612         5     no    yes          0            0  0c1ad9841
2613         6     no    yes          0            0  0c1ad9841
2614         1     no    yes          0            1  0c1ad9841
3468         7     no    yes          0            0  735ff54de
3469         1     no    yes          0            1  735ff54de
3855         1     no    yes          0            1  41f9a5a21
3856        10     no    yes          0            0  41f9a5a21
3857        11     no    yes          0            0  41f9a5a21
3858         5     no    yes          0            0  41f9a5a21
3859         8     no    yes          0            0  41f9a5a21
3860         6     no    yes          0            0  41f9a5a21
...        ...    ...    ...        ...          ...        ...
4867         1     no    yes          0            1  82c81846c
4888         1     no    yes          0            1  fcceed2b8
4889         8     no    yes          0            0  fcceed2b8
4890        17     no    yes          0            0  fcceed2b8
4919         6     no    yes          0            0  3ffdddef8
4920         1     no    yes          0            1  3ffdddef8
6028         7     no    yes          0            0  932287f5d
6029         0     no    yes          0            0  932287f5d
6030         1     no    yes          0            1  932287f5d
6031        12     no    yes          0            0  932287f5d
6066         3     no    yes          0            0  bd82509d1
6067         1     no    yes          0            1  bd82509d1
6424         9     no    yes          0            0  6c543442a
6425        10     no    yes          0            0  6c543442a
6426         9     no    yes          0            0  6c543442a
6427         1     no    yes          0            1  6c543442a
7117         1     no    yes          0            1  2203941ce
7886         5     no    yes          0            0  c6051c074
7887         1     no    yes          0            1  c6051c074
7888         7     no    yes          0            0  c6051c074
8134         1     no    yes          0            1  3b057b2dd
8163         0     no    yes          0            0  17ab5bcef
8164         1     no    yes          0            1  17ab5bcef
8165         0     no    yes          0            0  17ab5bcef
8166         0     no    yes          0            0  17ab5bcef
8167         6     no    yes          0            0  17ab5bcef
8436         3     no    yes          0            0  f80ccb0a9
8437         1     no    yes          0            1  f80ccb0a9
8509         1     no    yes          0            1  f387e96e1
9166         1     no    yes          0            1  30a7d3d70

[69 rows x 6 columns]

In [31]:
train_data[(train_data['edjefe'] == 'no') & (train_data['edjefa'] == 'no')][['escolari', 'edjefe', 'edjefa', 'SQBedjefe', 'parentesco1']]

      escolari edjefe edjefa  SQBedjefe  parentesco1
86           0     no     no          0            1
87          13     no     no          0            0
121         14     no     no          0            0
122          8     no     no          0            0
123          9     no     no          0            0
124          0     no     no          0            1
125         14     no     no          0            0
166          0     no     no          0            0
167          1     no     no          0            0
168          5     no     no          0            0
169          6     no     no          0            0
170          0     no     no          0            0
171          0     no     no          0            1
172          7     no     no          0            0
416          0     no     no          0            1
417         11     no     no          0            0
418          0     no     no          0            0
419          7     no     no          0            0
498          0     no     no          0            1
499          0     no     no          0            0
500          5     no     no          0            0
501          9     no     no          0            0
502         10     no     no          0            0
634          8     no     no          0            0
635          0     no     no          0            1
636          1     no     no          0            0
637          5     no     no          0            0
669          0     no     no          0            0
670          6     no     no          0            0
671          0     no     no          0            1
...        ...    ...    ...        ...          ...
9342         0     no     no          0            1
9343         0     no     no          0            0
9374         6     no     no          0            0
9375         0     no     no          0            0
9376         2     no     no          0            0
9377         6     no     no          0            0
9378        11     no     no          0            0
9379         1     no     no          0            0
9380         6     no     no          0            0
9381         0     no     no          0            1
9389         0     no     no          0            0
9390         7     no     no          0            0
9391         0     no     no          0            1
9431         5     no     no          0            0
9432         0     no     no          0            1
9433         6     no     no          0            0
9434         6     no     no          0            0
9450         6     no     no          0            0
9451         0     no     no          0            1
9452         6     no     no          0            0
9453         2     no     no          0            0
9454         6     no     no          0            0
9455         0     no     no          0            0
9456         6     no     no          0            0
9481         0     no     no          0            1
9482         1     no     no          0            0
9490         0     no     no          0            1
9506         0     no     no          0            1
9550         6     no     no          0            0
9551         0     no     no          0            1

[435 rows x 5 columns]

In [32]:
train_data[(train_data['edjefe'] == 'yes') & (train_data['edjefa'] == 'yes')][['escolari', 'edjefe', 'edjefa', 'SQBedjefe', 'parentesco1']]

Empty DataFrame
Columns: [escolari, edjefe, edjefa, SQBedjefe, parentesco1]
Index: []

In [33]:
train_data[(train_data['edjefe'] == 'yes') & (train_data['edjefa'] == 'no')][['escolari', 'edjefe', 'edjefa', 'SQBedjefe', 'parentesco1']]

      escolari edjefe edjefa  SQBedjefe  parentesco1
601          1    yes     no          1            1
602          3    yes     no          1            0
2392         6    yes     no          1            0
2393         5    yes     no          1            0
2394         1    yes     no          1            1
2422         6    yes     no          1            0
2423         1    yes     no          1            0
2424         1    yes     no          1            1
2829         4    yes     no          1            0
2830         1    yes     no          1            1
2831         7    yes     no          1            0
3015         4    yes     no          1            0
3016         4    yes     no          1            0
3017         1    yes     no          1            1
3741         0    yes     no          1            0
3742         0    yes     no          1            0
3743         0    yes     no          1            0
3744         1    yes     no          1            1
3745         6    yes     no          1            0
4490         5    yes     no          1            0
4491         1    yes     no          1            1
4492         6    yes     no          1            0
4493         0    yes     no          1            0
4494         9    yes     no          1            0
4903         6    yes     no          1            0
4904         6    yes     no          1            0
4905         1    yes     no          1            1
4979        11    yes     no          1            0
4980         1    yes     no          1            1
4981         6    yes     no          1            0
...        ...    ...    ...        ...          ...
8385         6    yes     no          1            0
8585         1    yes     no          1            1
8903         1    yes     no          1            1
8904         6    yes     no          1            0
8905         0    yes     no          1            0
8951         6    yes     no          1            0
8952         6    yes     no          1            0
8953         6    yes     no          1            0
8954         1    yes     no          1            1
8955         9    yes     no          1            0
8956         0    yes     no          1            0
8957        11    yes     no          1            0
9040         4    yes     no          1            0
9041         6    yes     no          1            0
9042         2    yes     no          1            0
9043         6    yes     no          1            0
9044         1    yes     no          1            1
9045         0    yes     no          1            0
9046         3    yes     no          1            0
9047         0    yes     no          1            0
9197         3    yes     no          1            0
9198         6    yes     no          1            0
9199         1    yes     no          1            1
9257         1    yes     no          1            1
9415         0    yes     no          1            0
9416         2    yes     no          1            0
9417         1    yes     no          1            1
9463         1    yes     no          1            1
9464         3    yes     no          1            0
9465         0    yes     no          1            0

[123 rows x 5 columns]

In [39]:
train_data[['escolari', 'edjefe', 'edjefa', 'SQBedjefe', 'parentesco1', 'idhogar']]

      escolari edjefe edjefa  SQBedjefe  parentesco1    idhogar
0           10     10     no        100            1  21eb7fcc1
1           12     12     no        144            1  0e5d7a658
2           11     no     11          0            1  2c7317ea8
3            9     11     no        121            0  2b58d945f
4           11     11     no        121            0  2b58d945f
5           11     11     no        121            1  2b58d945f
6            2     11     no        121            0  2b58d945f
7            0      9     no         81            0  d6dae86b7
8            9      9     no         81            1  d6dae86b7
9           11      9     no         81            0  d6dae86b7
10           3      9     no         81            0  d6dae86b7
11          12     no     11          0            0  bb2094100
12          11     no     11          0            1  bb2094100
13           4     no      4          0            1  c51f9c774
14          15     no      4          0            0  c51f9c774
15          11     no     10          0            0  6893e65ca
16           2     no     10          0            0  6893e65ca
17          11     no     10          0            0  6893e65ca
18          10     no     10          0            1  6893e65ca
19          12     15     no        225            0  d29058053
20          15     15     no        225            1  d29058053
21           4      4     no         16            1  ec0e8edce
22          16      4     no         16            0  ec0e8edce
23           6      6     no         36            1  3e16fab89
24          13      6     no         36            0  3e16fab89
25          12      6     no         36            0  3e16fab89
26          15     15     no        225            1  1e84a2ac8
27           6      6     no         36            1  759df0194
28           6      6     no         36            0  759df0194
29           8      6     no         36            0  759df0194
...        ...    ...    ...        ...          ...        ...
9527         0      8     no         64            0  fef7fd222
9528        16     no     16          0            1  bb631bc5d
9529         6      6     no         36            0  2fa33aed8
9530         6      6     no         36            1  2fa33aed8
9531         5      5     no         25            1  08908240a
9532         6      5     no         25            0  08908240a
9533        10      5     no         25            0  08908240a
9534         4      4     no         16            1  b58de0516
9535         5     no      5          0            1  9bbf7c6ca
9536         0     no      5          0            0  9bbf7c6ca
9537         4     no      5          0            0  9bbf7c6ca
9538         0     no      5          0            0  9bbf7c6ca
9539         0     no      5          0            0  9bbf7c6ca
9540         0      2     no          4            0  e87e70c06
9541         2      2     no          4            1  e87e70c06
9542         3      2     no          4            0  e87e70c06
9543         6      2     no          4            0  e87e70c06
9544         6      2     no          4            0  e87e70c06
9545         2      2     no          4            1  a8eeafc29
9546         6      2     no          4            0  a8eeafc29
9547        11      2     no          4            0  a8eeafc29
9548        11      2     no          4            0  a8eeafc29
9549         0      2     no          4            0  a8eeafc29
9550         6     no     no          0            0  212db6f6c
9551         0     no     no          0            1  212db6f6c
9552         9      9     no         81            1  d6c086aa3
9553         0      9     no         81            0  d6c086aa3
9554         5      9     no         81            0  d6c086aa3
9555        11      9     no         81            0  d6c086aa3
9556         8      9     no         81            0  d6c086aa3

[9557 rows x 6 columns]

In [6]:
np.unique(train_data['edjefa'])

array(['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2',
       '20', '21', '3', '4', '5', '6', '7', '8', '9', 'no', 'yes'], dtype=object)

In [20]:
train_data[train_data['edjefa'] == 'yes'][['escolari', 'edjefe', 'edjefa']]

      escolari  edjefe edjefa
432          1     0.0    yes
566          0     0.0    yes
567          6     0.0    yes
568          1     0.0    yes
569          7     0.0    yes
594          1     0.0    yes
595          1     0.0    yes
974         10     0.0    yes
975          9     0.0    yes
976          1     0.0    yes
977          6     0.0    yes
1573         7     0.0    yes
1574         1     0.0    yes
1575         9     0.0    yes
2464         1     0.0    yes
2465         6     0.0    yes
2466         2     0.0    yes
2610         6     0.0    yes
2611         0     0.0    yes
2612         5     0.0    yes
2613         6     0.0    yes
2614         1     0.0    yes
3468         7     0.0    yes
3469         1     0.0    yes
3855         1     0.0    yes
3856        10     0.0    yes
3857        11     0.0    yes
3858         5     0.0    yes
3859         8     0.0    yes
3860         6     0.0    yes
...        ...     ...    ...
4867         1     0.0    yes
4888         1     0.0    yes
4889         8     0.0    yes
4890        17     0.0    yes
4919         6     0.0    yes
4920         1     0.0    yes
6028         7     0.0    yes
6029         0     0.0    yes
6030         1     0.0    yes
6031        12     0.0    yes
6066         3     0.0    yes
6067         1     0.0    yes
6424         9     0.0    yes
6425        10     0.0    yes
6426         9     0.0    yes
6427         1     0.0    yes
7117         1     0.0    yes
7886         5     0.0    yes
7887         1     0.0    yes
7888         7     0.0    yes
8134         1     0.0    yes
8163         0     0.0    yes
8164         1     0.0    yes
8165         0     0.0    yes
8166         0     0.0    yes
8167         6     0.0    yes
8436         3     0.0    yes
8437         1     0.0    yes
8509         1     0.0    yes
9166         1     0.0    yes

[69 rows x 3 columns]

In [9]:
train_data.columns[pd.isnull(train_data).sum() != 0]

Index(['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned'], dtype='object')

In [18]:
train_data[pd.isnull(train_data['meaneduc']) | pd.isnull(train_data['SQBmeaned'])][['age', 'meaneduc', 'SQBmeaned', 'escolari', 'edjefe', 'edjefa', 'parentesco1', 'idhogar']]

      age  meaneduc  SQBmeaned  escolari edjefe edjefa  parentesco1    idhogar
1291   18       NaN        NaN        10     no     10            1  1b31fd159
1840   18       NaN        NaN         6      4     no            0  a874b7ce7
1841   18       NaN        NaN         4      4     no            1  a874b7ce7
2049   19       NaN        NaN        12     12     no            1  faaebf71a
2050   19       NaN        NaN        12     12     no            0  faaebf71a

In [16]:
train_data[['meaneduc', 'SQBmeaned', 'escolari', 'idhogar', 'age']]

       meaneduc   SQBmeaned  escolari    idhogar  age
0     10.000000  100.000000        10  21eb7fcc1   43
1     12.000000  144.000000        12  0e5d7a658   67
2     11.000000  121.000000        11  2c7317ea8   92
3     11.000000  121.000000         9  2b58d945f   17
4     11.000000  121.000000        11  2b58d945f   37
5     11.000000  121.000000        11  2b58d945f   38
6     11.000000  121.000000         2  2b58d945f    8
7     10.000000  100.000000         0  d6dae86b7    7
8     10.000000  100.000000         9  d6dae86b7   30
9     10.000000  100.000000        11  d6dae86b7   28
10    10.000000  100.000000         3  d6dae86b7   11
11    23.000000  529.000000        12  bb2094100   18
12    23.000000  529.000000        11  bb2094100   34
13     9.500000   90.250000         4  c51f9c774   79
14     9.500000   90.250000        15  c51f9c774   39
15    17.000000  289.000000        11  6893e65ca   19
16    17.000000  289.000000         2  6893e65ca   70
17    17.000000  289.000000        11  6893e65ca   19
18    17.000000  289.000000        10  6893e65ca   50
19    13.500000  182.250000        12  d29058053   22
20    13.500000  182.250000        15  d29058053   26
21    10.000000  100.000000         4  ec0e8edce   69
22    10.000000  100.000000        16  ec0e8edce   66
23    10.333333  106.777770         6  3e16fab89   41
24    10.333333  106.777770        13  3e16fab89   20
25    10.333333  106.777770        12  3e16fab89   40
26    15.000000  225.000000        15  1e84a2ac8   44
27     6.666666   44.444443         6  759df0194   69
28     6.666666   44.444443         6  759df0194   62
29     6.666666   44.444443         8  759df0194   33
...         ...         ...       ...        ...  ...
9527   9.500000   90.250000         0  fef7fd222    1
9528  16.000000  256.000000        16  bb631bc5d   31
9529   6.000000   36.000000         6  2fa33aed8   46
9530   6.000000   36.000000         6  2fa33aed8   52
9531   5.500000   30.250000         5  08908240a   54
9532   5.500000   30.250000         6  08908240a   45
9533   5.500000   30.250000        10  08908240a   17
9534   4.000000   16.000000         4  b58de0516   74
9535   4.500000   20.250000         5  9bbf7c6ca   26
9536   4.500000   20.250000         0  9bbf7c6ca    8
9537   4.500000   20.250000         4  9bbf7c6ca   29
9538   4.500000   20.250000         0  9bbf7c6ca    6
9539   4.500000   20.250000         0  9bbf7c6ca    6
9540   4.000000   16.000000         0  e87e70c06    2
9541   4.000000   16.000000         2  e87e70c06   40
9542   4.000000   16.000000         3  e87e70c06   10
9543   4.000000   16.000000         6  e87e70c06   13
9544   4.000000   16.000000         6  e87e70c06   33
9545  10.000000  100.000000         2  a8eeafc29   45
9546  10.000000  100.000000         6  a8eeafc29   46
9547  10.000000  100.000000        11  a8eeafc29   23
9548  10.000000  100.000000        11  a8eeafc29   18
9549  10.000000  100.000000         0  a8eeafc29    2
9550   3.000000    9.000000         6  212db6f6c   61
9551   3.000000    9.000000         0  212db6f6c   67
9552   8.250000   68.062500         9  d6c086aa3   46
9553   8.250000   68.062500         0  d6c086aa3    2
9554   8.250000   68.062500         5  d6c086aa3   50
9555   8.250000   68.062500        11  d6c086aa3   26
9556   8.250000   68.062500         8  d6c086aa3   21

[9557 rows x 5 columns]

In [6]:
def f(group):
    avg = group[group['age'] >= 18]['escolari'].mean()
    group['meaneduc_'] = avg if avg else 0.0
    return group

train_data['meaneduc'] = train_data[['idhogar', 'age', 'escolari']].groupby('idhogar').apply(f)['meaneduc_']

int64

In [8]:
train_data['meaneduc'].dtype

dtype('float64')

In [68]:
train_data['SQBmeaned'].dtypes

dtype('float64')

In [10]:
pd.isnull(train_data['rez_esc']).sum()

7928